<html lang="hi">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hind:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="card">
    <svg class="card__bg" viewBox="0 0 1200 630" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1103 630L1079 0L1200 0L1200 630Z" fill="{{svg_color_1}}"/>
      <path d="M815 630L671 0L1080 0L1104 630Z" fill="{{svg_color_2}}"/>
      <path d="M431 630L455 0L672 0L816 630Z" fill="{{svg_color_3}}"/>
      <path d="M347 630L287 0L456 0L432 630Z" fill="{{svg_color_4}}"/>
      <path d="M0 630L0 0L288 0L348 630Z" fill="{{svg_color_5}}"/>
    </svg>
    <div class="card__content">
      <div class="heading">कबीर के दोहे</div>
      <div class="divider"></div>
      <div class="couplet">{{couplet_text}}</div>
      {{#if couplet_meaning}}
      <div class="meaning">{{couplet_meaning}}</div>
      {{/if}}
      <div class="spacer"></div>
      <div class="bottom-divider"></div>
      <div class="footer-url">{{website_url}}</div>
    </div>
  </div>
</body>

</html>
