<html lang="hi">

  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Hind:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="card">
      <svg class="card__bg" viewBox="0 0 1080 1080" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M967 1080L959 0L1080 0L1080 1080Z" fill="{{svg_color_1}}" />
        <path d="M803 1080L759 0L960 0L968 1080Z" fill="{{svg_color_2}}" />
        <path d="M539 1080L453 0L760 0L804 1080Z" fill="{{svg_color_3}}" />
        <path d="M267 1080L301 0L454 0L540 1080Z" fill="{{svg_color_4}}" />
        <path d="M0 1080L0 0L302 0L268 1080Z" fill="{{svg_color_5}}" />
      </svg>
      <div class="card__content">
        <div class="heading">कबीर के दोहे</div>
        <div class="divider"></div>
        <div class="couplet">{{couplet_text}}</div>
        <div class="meaning">{{couplet_meaning}}</div>
        <div class="spacer"></div>
        <div class="bottom-divider"></div>
        <div class="footer">
          <span class="footer__website">{{website_url}}</span>
          <div class="footer__socials">
            <a class="footer__social-link" href="https://www.facebook.com/kabirkedohe.official">
              <svg
                class="footer__icon"
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 256 256"
                xmlns="http://www.w3.org/2000/svg"
              ><path
                  d="M232,128a104.16,104.16,0,0,1-91.55,103.26,4,4,0,0,1-4.45-4V152h24a8,8,0,0,0,8-8.53,8.17,8.17,0,0,0-8.25-7.47H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,8-8.53A8.17,8.17,0,0,0,167.73,80H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0-8,8.53A8.17,8.17,0,0,0,96.27,152H120v75.28a4,4,0,0,1-4.44,4A104.15,104.15,0,0,1,24.07,124.09c2-54,45.74-97.9,99.78-100A104.12,104.12,0,0,1,232,128Z"
                ></path></svg>
              <span class="footer__handle">@kabirkedohe.official</span>
            </a>
            <a class="footer__social-link" href="https://www.instagram.com/kabirkedohe.official">
              <svg
                class="footer__icon"
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 256 256"
                xmlns="http://www.w3.org/2000/svg"
              ><path
                  d="M176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24ZM128,176a48,48,0,1,1,48-48A48.05,48.05,0,0,1,128,176Zm60-96a12,12,0,1,1,12-12A12,12,0,0,1,188,80Zm-28,48a32,32,0,1,1-32-32A32,32,0,0,1,160,128Z"
                ></path></svg>
              <span class="footer__handle">@kabirkedohe.official</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>